<?xml version="1.0" encoding="utf-8" ?>
<Modules>
  <!-- 
    This cms.modules.config file must be allocated in your web root
    
    To enable application you need to trigger 
    @enabled attribute to 'true' in Application element 
    where label is equal to folder name in SiteAdmin folder
    
    Default modules policy is disabled, in other words
    no modules will be shown unless they are enabled.
    -->
  <Application label="Pages" enabled="true" />
  <Application label="System" enabled="true" />
  <Application label="CharronInc" enabled="true" />
</Modules>
