<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings/>
  <connectionStrings>
    <add name="NetPassServicesMsSQL" 
         connectionString="DRIVER={SQL Native Client}; SERVER=ROWRKEVI\SQLEXPRESS;Datbase=NetPass;UID=netpass;PWD=netpassmgr;"/>

    <add name="NetPassServices" 
         connectionString="DRIVER={MySQL ODBC 3.51 Driver};&#xD;&#xA;SERVER=localhost;&#xD;&#xA;DATABASE=netpass;&#xD;&#xA;USER=netpass;&#xD;&#xA;PASSWORD=netpassmgr;&#xD;&#xA;OPTION=3;"/>

    <add name="hpsd" 
         connectionString="Driver={Microsoft ODBC for Oracle};Server=ITS_192.168.0.7;Uid=hpsd;Pwd=hpsd;" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="192.168.0.250" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true"/>

    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>

    <httpModules>
      <add name="UnhandledException" type="WDK.Handlers.UnhandledException, wdk.engine" />
    </httpModules>

    <!--
    Membership Management
    -->
    <roleManager defaultProvider="NetPassRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="NetPassRoleProvider" type="WDK.CommunityServices.NetPass.NetPassRoleProvider" connectionStringName="NetPassServices" applicationName="iMS IT Management" writeExceptionsToEventLog="false"/>
      </providers>
    </roleManager>
    <membership defaultProvider="NetPassMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add applicationName="iMS IT Management" name="NetPassMembershipProvider" type="WDK.CommunityServices.NetPass.NetPassMembershipProvider" connectionStringName="NetPassServices" passwordFormat="Clear" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" writeExceptionsToEventLog="true"/>
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name="LoginForm" loginUrl="default.aspx" protection="All" timeout="30">
      </forms>
    </authentication>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <xhtmlConformance mode="Legacy"/>

    <pages>
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Drawing"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
