<?xml version="1.0"?>
<configuration>
	
	<system.web>

		<compilation debug="false" />
		<customErrors mode="Off"/>

		<httpHandlers>
			<add path="*.css" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" validate="true" />
			<add path="*.gif" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" validate="true" />
			<add path="*.png" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" validate="true" />
		</httpHandlers>
	</system.web>
</configuration>
